<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>GrandPy Bot</title>
        <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet" type="text/css" />
    </head>


    <body>
        <h1>Bonjour et bienvenue sur la page de GrandPy Bot</h1>
        <form method="post">
            <p>Posez votre question à grandpy bot concernant **** : :</p>
            <input type="text" name="adress" size="70" />
        </form>

        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdO62_IhTqYg8IROK76ACbzm-xnbhyC2g&callback=initMap"
        type="text/javascript"></script>


    </body>


    <footer>
        <p>MILLET Nicolas <br/>https://github.com/Nyarlathotepss/GrandPy-Bot.git</p>
    </footer>
</html>