{% extends "home.html" %}

{% block content_dialog %}
{% for value in dialog_to_show %}

    {# note : need to split the question - response with method index from list #}

    {% if dialog_to_show.index(value)%2 == 0 %}
    <div class="container">
        <img src="/static/invite.jpg" alt="Avatar">
        <p>{{value}}</p>
    </div>

    {%else%}
    <div class="container darker">
        <img src="/static/grandpy-bot.jpg" alt="Avatar" class="right">
        <p>{{value}}</p>
    </div>

{% endif%}
{% endfor %}
{% endblock %}


{% block content_gmap %}

<script>
function initMap() {
  var place = {lat:{{latitude}}, lng:{{longitude}} };
  var map = new google.maps.Map(
      document.getElementById('content_gmap'), {zoom: 4, center: place});
  var marker = new google.maps.Marker({position: place, map: map});
}
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key={{gmap_key}}&callback=initMap">
</script>
{% endblock %}