<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>GrandPy Bot</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet" type="text/css" />
        <!--<link href="../static/style.css" rel="stylesheet" type="text/css" />-->
    </head>

    <body>
    <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12 text-center v-center">

              <h1>Bonjour et bienvenue sur la page de GrandPy Bot</h1>
              <p class="lead">Qu'elle est ta question a GrandPy Bot mon petit je t'écoute.</p>
                <br>
                <br>
            </div>
          </div>
            <div class="row">
                <div class="col-lg-12 text-center v-center">
                <form method="post">
                    <div class= "input-group">
                      <input type="text" class="center-block form-control input-lg" title="question." placeholder="Entrez votre question ici" name="question">
                      <span class="input-group-btn" ><button class="btn btn-primary" id="btn" type="submit">OK</button></span>
                        <!-- Step ajax lINK WITH BUTTON -->
                    </div>
                </form>
                </div>
            </div>
        </div>

    <div id="response"></div>
    <div class="container-dialog">
        <div class="row">
            <div id="content_dialog" class="col-lg-8"></div>
            <div id="content_gmap" class="col-lg-4"></div>
        </div>

        <script type="text/javascript" src="{{url_for('static', filename='contents.js')}}"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key={{gmap_key}}&callback=initMap"></script>

    </div>
    </body>

    <footer>
        <p>MILLET Nicolas <br/><a href="https://github.com/Nyarlathotepss/GrandPy-Bot.git"> Lien GitHub </a></p>
    </footer>
</html>